<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mil.nga.giat.mage"
    android:versionCode="18"
    android:versionName="5.0.4">

    <permission
        android:name="mil.nga.giat.mage.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MAGE"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_wand"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="mil.nga.giat.mage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".disclaimer.DisclaimerActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Open files with matching extensions from a file browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpkg" /> <!-- GeoPackage -->
                <data android:pathPattern=".*\\.gpkx" /> <!-- GeoPackage Extension -->
                <data android:host="*" />
            </intent-filter>
            <!-- Email attachments -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <!-- Google Drive or sends from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.OAuthActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.SignupActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".event.EventActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".preferences.LocationPreferencesActivity"
            android:label="@string/location_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".preferences.FetchPreferencesActivity"
            android:label="@string/fetch_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".preferences.ClearDataPreferenceActivity"
            android:label="Clear Data"
            android:parentActivityName=".LandingActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".map.preference.MapPreferencesActivity"
            android:label="@string/map_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".map.preference.TileOverlayPreferenceActivity"
            android:label="Overlay Maps"
            android:launchMode="singleTop"
            android:parentActivityName=".map.preference.MapPreferencesActivity"
            android:theme="@style/AppBaseTheme.ActionBar.OverlayMap"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".map.preference.FeatureOverlayPreferenceActivity"
            android:label="Feature Overlays"
            android:launchMode="singleTop"
            android:parentActivityName=".map.preference.MapPreferencesActivity"
            android:theme="@style/AppBaseTheme.ActionBar.OverlayMap"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".observation.ObservationViewActivity"
            android:label="@string/observation_view" />
        <activity
            android:name=".observation.ObservationEditActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".observation.AttachmentViewerActivity" />
        <activity android:name=".profile.ProfilePictureViewerActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".observation.LocationEditActivity" />

        <receiver android:name=".sdk.connectivity.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".sdk.fetch.LocationFetchIntentService"
            android:exported="false" />
        <service
            android:name=".sdk.fetch.ObservationFetchIntentService"
            android:exported="false" />
        <service
            android:name=".sdk.fetch.InitialFetchIntentService"
            android:exported="false" />
        <service
            android:name=".sdk.push.LocationPushIntentService"
            android:exported="false" />
        <service
            android:name=".sdk.push.ObservationPushIntentService"
            android:exported="false" />

        <receiver
            android:name=".sdk.push.AttachmentPushAlarmReceiver"
            android:exported="false" />

        <service
            android:name=".sdk.push.AttachmentPushIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="mil.nga.giat.mage.glide.MageGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".observation.SelectEditActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>