<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MageApplication"
        tools:replace="android:allowBackup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_wand_white_50dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" tools:targetApi="s">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data android:name="${applicationId}.source_refspec" android:value="${source_refspec}"/>

        <!-- Using Hilt for Worker dependency injection-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".disclaimer.DisclaimerActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme3.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open files with matching extensions from a file browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpkg" /> <!-- GeoPackage -->
                <data android:pathPattern=".*\\.gpkx" /> <!-- GeoPackage Extension -->
                <data android:host="*" />
            </intent-filter>
            <!-- Email attachments -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <!-- Google Drive or sends from other apps -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.idp.IdpLoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.idp.IdpRedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="mage"/>
                <data android:host="app"/>
                <data android:path="/authentication"/>
                <data android:path="/invalid_account"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignupActivity"
            android:theme="@style/AppTheme3.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="mil.nga.giat.mage.compat.server5.login.SignupActivityServer5"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".login.AccountStateActivity"
            android:theme="@style/AppTheme3.NoActionBar"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.ServerUrlActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".event.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".filter.FilterActivity" />
        <activity
            android:name=".filter.ObservationFilterActivity"
            android:label="@string/observation_filter" />
        <activity
            android:name=".filter.LocationFilterActivity"
            android:label="@string/locations_filter" />
        <activity
            android:name=".LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Toolbar"
            android:launchMode="singleTop" />
        <activity
            android:name=".event.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".form.defaults.FormDefaultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".help.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar.White"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".preferences.LocationPreferencesActivity"
            android:label="@string/location_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".preferences.GeneralPreferencesActivity"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".preferences.FetchPreferencesActivity"
            android:label="@string/fetch_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".map.preference.MapPreferencesActivity"
            android:label="@string/map_settings"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".map.preference.TileOverlayPreferenceActivity"
            android:label="Offline Layers"
            android:launchMode="singleTop"
            android:parentActivityName=".map.preference.MapPreferencesActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".map.preference.OnlineLayersPreferenceActivity"
            android:label="Online Layers"
            android:launchMode="singleTop"
            android:parentActivityName=".map.preference.MapPreferencesActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".observation.view.ObservationViewActivity"
            android:launchMode="singleTop"
            android:label="@string/observation_view"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- UI presentation for this activity is "compose-first". Compose will handle
             configuration changes an recompose.  We can flag configChanges
             indicating we will handle these on our own (really compose will).
             This means things like snackbars created in our compose presentation
             will persist across the configuration change.  -->
        <activity
            android:name="mil.nga.giat.mage.observation.edit.ObservationEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout" />

        <activity android:name=".observation.attachment.AttachmentViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".profile.ProfilePictureViewerActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".profile.ChangePasswordActivity"
            android:label="Change Password"/>
        <activity
            android:name=".people.PeopleActivity"
            android:label="Favorited by"
            android:launchMode="singleTop"
            android:parentActivityName=".observation.view.ObservationViewActivity" />
        <activity
            android:name=".feed.FeedActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feed.item.FeedItemActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".geopackage.media.GeoPackageMediaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".location.LocationReportingService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <service
            android:name=".location.LocationFetchService"
            android:exported="false" />

        <service
            android:name=".observation.sync.ObservationFetchService"
            android:exported="false" />

        <service
            android:name=".feed.FeedFetchService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
