<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mil.nga.giat.mage"
    android:versionCode="3"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mil.nga.giat.mage.login.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mil.nga.giat.mage.login.SignupActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.LandingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.preferences.PublicPreferencesActivity"
            android:label="@string/menu_settings" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.map.MapPreferencesActivity"
            android:label="@string/map_settings" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.observation.ObservationViewActivity"
            android:label="@string/observation_view" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.observation.ObservationEditActivity">
        </activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyALSMwdL8DuGZMXBMPPYq-waHai8X5nnNA" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>