<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mil.nga.giat.mage.sdk"
    android:versionCode="3"
    android:versionName="3.0.12" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>

</manifest>
