<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mil.nga.giat.mage"
    android:versionCode="3"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <permission
	  android:name="mil.nga.giat.mage.permission.MAPS_RECEIVE"
	  android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    
    <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true" />

    <application
        android:name="MAGE"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mil.nga.giat.mage.disclaimer.DisclaimerActivity"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.login.LoginActivity"
            android:windowSoftInputMode="stateVisible" 
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mil.nga.giat.mage.login.SignupActivity"
            android:windowSoftInputMode="adjustResize"
             >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.LandingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mil.nga.giat.mage.preferences.PublicPreferencesActivity"
            android:label="@string/menu_settings" 
            android:icon="@drawable/ic_settings_white"
            android:launchMode="singleTop"
            android:parentActivityName="mil.nga.giat.mage.LandingActivity">
        </activity>
         <activity
            android:name="mil.nga.giat.mage.preferences.LocationPreferencesActivity"
            android:label="@string/menu_settings" 
            android:icon="@drawable/ic_settings_white"
            android:parentActivityName="mil.nga.giat.mage.preferences.PublicPreferencesActivity">
        </activity>
        <activity
            android:name="mil.nga.giat.mage.map.MapPreferencesActivity"
            android:label="@string/map_settings"
            android:icon="@drawable/ic_map_white"
            android:parentActivityName="mil.nga.giat.mage.LandingActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mil.nga.giat.mage.LandingActivity" />
        </activity>
        <activity
            android:name="mil.nga.giat.mage.observation.ObservationViewActivity"
            android:label="@string/observation_view" >
        </activity>
        <activity android:name="mil.nga.giat.mage.observation.ObservationEditActivity" >
        </activity>
        <activity android:name="mil.nga.giat.mage.observation.ImageViewerActivity" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>