<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="6"
    android:versionName="4.0.0">

    <!--This permission is required to enable/disable system animations from the app itself-->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>

    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="34" />

    <instrumentation
        android:label="AndroidJUnitRunner"
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="mil.nga.giat.mage"
        android:functionalTest="true"/>

    <application>
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="android.test.base" android:required="false" />
        <uses-library android:name="android.test.mock" android:required="false" />
    </application>

</manifest>
